.card {
  margin-left: 20px;
  margin-top: 10px;
}
  
.card-body {
  padding-bottom: 2px;
}
  
.card-text {
  font-size: 14px;
  pointer-events: none;
}
  
.card-title {
  font-size: 16px;
  pointer-events: none;
}

.ver_mais {
  display: none;
  font-size: 16px;
  color: black;
}

.button-checked {
  cursor: pointer;
  display: none;
  margin-left: 21.5px;
}

.button-like {
  cursor: pointer;
  display: none;
  margin-right: 20px;
}

.glyphicon-book {
  width: auto;
}