/* CSS form class */

.btn.btn-info {
  border-radius: 15px;
  font-size: 12px;
  height: 30px;
  line-height: 1.42;
  padding: 6px 0;
  text-align: center;
  width: 30px;
}
  
.btn-custom {
  cursor: pointer;
  display: none;
  margin-bottom: 12px;
  margin-left: 100px;
  margin-right: 55px;
  margin-top: -210px;
  position: absolute;
}
  
.btn-icon {
  padding: 8px;
  text-align: center;
}

.list-group-item.list-group-item-action.bg-light {
  font-size: 20px;
  background-color: #000000;
}
  
.nav-link.titleTopSideMenu {
  font-size: 30px;
  text-align: center;
}
  
.nav-link.topSideMenu {
  margin-right: 40px;
}

.select_item_topbar {
  background-color: #00ffbb;
  border-radius: 8px;
  padding: 4px;
}

.form-inline {
  margin-right: 2em;
  margin-left: 17em;
}

.dropdown-toggle, .dropleft, .dropdown-menu, .dropleft {
  border-radius: 8px;
}

.home_email {
  font-size: 20px;
  color: #00ffbb;
  width: auto;
  justify-content: center;
  display: flex;
  margin-top: 50%;
}

.log_out {
  color: #00ffbb;
  width: auto;
  justify-content: center;
  display: flex;
}

.edit {
  color: #00ffbb;
  width: auto;
  justify-content: center;
  display: flex;
  margin-top: 20%;
}

.sign_up {
  color: #00ffbb;
  width: auto;
  justify-content: center;
  display: flex;
  margin-top: auto;
  margin-top: 120%;
}

.sign_in {
  color: #00ffbb;
  width: auto;
  justify-content: center;
  display: flex;
}

/* CSS from id */

#li-destaques {
  cursor: pointer;
  font-size: 17px;
  margin-left: 1em;
  color: black;
}

#li-geral {
  cursor: pointer;
  font-size: 17px;
  margin-right: 1em;
  color: black;
}

#dropdown-menu {
  background-color: #000000;
  font-size: 20px;
}

#menu-toggle {
  display: none;
}
  
#page-content-wrapper {
  display: table;
}

#sidebar-wrapper .sidebar-heading {
  background-color: #00ffbb;
}

#span-search {
  cursor: pointer;
}

#title-menu {
  background-color: #00ffbb;
  color: #ffffff;
  font-size: 40px;
  padding: 30px;
  text-align: center;
}

#li-user {
  cursor: pointer;
}