.ver_mais_image_book {
  margin-top: 20px;
  margin-left: 20px;
}

.content_book {
  width: 98%;
  background-color: #f8f9fa;
  height: 100%;
  margin-left: 12px;
  margin-top: 22px;
  border-style: solid;
  border-color: #00ffbb;
}

.ver_mais_title {
  display: block;
  text-align: center;
  margin-top: -22%;
  margin-bottom: 15%;
}

.ver_mais_author {
  display: block;
  text-align: center;
  margin-top: -14%;
  margin-bottom: 16%;
}

.ver_mais_description {
  margin: 20px;
}

.ver_mais_editora {
  text-align: center;
  /*margin: -46% 0% 50% 30%;*/
  display: inline;
  font-size: 18px;
}

.ver_mais_publicacao {
  display: inline;
  text-align: center;
  /*margin: -52% 0% 50% 45%;*/
  font-size: 18px;
}

.ver_mais_paginas {
  text-align: center;
  font-size: 18px;
}

.ver_mais_categoria {
  text-align: center;
  font-size: 18px;
}

.ver_mais_linguagem {
  display: inline;
  text-align: center;
  /*margin: -42% 0% 50% 65%;*/
  font-size: 18px;
}

.ver_mais_acesso {
  display: block;
  text-align: center;
}

.ver_mais_likes {
  display: block;
  margin-top: -15%;
  margin-bottom: 10%;
  text-align: center;
}

.content_dados {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-star {
  cursor: pointer;
}

.btn_exit {
  cursor: pointer;
  justify-content: flex-end;
  padding: 22px;
  position: sticky;
  float: right;
  color: black;
}