<%= render "devise/shared/error_messages", resource: resource %>

<div class="form_devise">

  <h2 class="title_devise">Resend confirmation instructions</h2>

  <br>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, :class => 'form_devise') do |f| %>

    <div class="field field_devise">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "              email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <br>

    <div class="actions actions_devise">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>

</div>