<%= render "devise/shared/error_messages", resource: resource %>

<div class="form_devise">

  <%= link_to "", :back, :class => "glyphicon glyphicon-remove btn-lg exit_devise" %>

  <h2 class="title_devise">Edit <%= resource_name.to_s.humanize %></h2>

  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field field_devise">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <br>

    <div class="field field_devise">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "        new password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field field_devise">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " password confirmation" %>
    </div>

    <br>

    <div class="field field_devise">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "     current password"  %>
    </div>

    <br>

    <div class="actions actions_devise">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <br>

  <h3 class="title_devise">Cancel my account</h3>

  <div class="actions actions_devise_cancel_account">

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

  </div>

</div>