<%= render "devise/shared/error_messages", resource: resource %>

<div class="form_devise">

  <h2 class="title_devise">Sign up</h2>

  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "form_devise") do |f| %>
    <div class="field field_devise">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "              email" %>
    </div>

    <br>

    <div class="field field_devise">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "           password" %>
    </div>

    <br>

    <div class="field field_devise">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "           password" %>
    </div>

    <br>

    <div class="actions actions_devise">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>

</div>
