//= require jquery
//= require jquery_ujs

var likes = "</div>Avaliações: <span class='glyphicon glyphicon-star-empty'</span> <span class='glyphicon glyphicon-star-empty'</span> <span class='glyphicon glyphicon-star-empty'</span> <span class='glyphicon glyphicon-star-empty'</span> <span class='glyphicon glyphicon-star-empty'</span>";

$(document).ready(function(){

  $('.card-body').hover(function(){

    $('.image-book').dequeue();
    $('.card-title').dequeue();
    $('.card-text').dequeue();

    $(this).parent().find('.button-like').click(function(){

      if ($(this).hasClass('glyphicon-thumbs-up')) {

        $(this).removeClass('.glyphicon glyphicon-thumbs-up button-like btn-lg')
        .addClass('.glyphicon glyphicon-thumbs-down button-like btn-lg');

      } else {

        $(this).removeClass('.glyphicon glyphicon-thumbs-down button-like btn-lg')
        .addClass('.glyphicon glyphicon-thumbs-up button-like btn-lg');

      };

    });

    $(this).parent().find('.button-checked').click(function(){

      if ($(this).hasClass('glyphicon-book')) {

        $(this).removeClass('.glyphicon glyphicon-book button-checked btn-lg')
        .addClass('.glyphicon glyphicon-remove button-checked btn-lg');

      } else {

        $(this).removeClass('.glyphicon glyphicon-remove button-checked btn-lg')
        .addClass('.glyphicon glyphicon-book button-checked btn-lg');

      };

    });

    $(this).parent().find('.image-book').fadeTo("fast", 0.2);
    $(this).parent().find('.card-title').fadeTo("fast", 0.2);

    $(this).parent().find('.card-text').hide();
    $(this).parent().find('.card-title').hide();

    $(this).parent().find('.btn-custom').show();
    $(this).parent().find('.button-like').show();
    $(this).parent().find('.ver_mais').show();
    $(this).parent().find('.button-checked').show();
    $(this).parent().find('.button-search').show();
    
    $('[data-toggle="popover"]').popover({
    html: true,
    container: 'body'
    })
    .queue();

    $(this).mouseout(function(){
      $('[data-toggle="popover"]')
      .popover("hide")
      .queue();
    })

  }, function(){

    $(this).parent().find('.button-like').click( function() {

      if ($(this).hasClass('glyphicon-thumbs-up')) {

        $(this).removeClass('.glyphicon glyphicon-thumbs-up button-like btn-lg')
        .addClass('.glyphicon glyphicon-thumbs-down button-like btn-lg');

      } else {

        $(this).removeClass('.glyphicon glyphicon-thumbs-down button-like btn-lg')
        .addClass('.glyphicon glyphicon-thumbs-up button-like btn-lg');

      };

    });

    $(this).parent().find('.button-checked').click(function(){

      if ($(this).hasClass('glyphicon-book')) {

        $(this).removeClass('.glyphicon glyphicon-book button-checked btn-lg')
        .addClass('.glyphicon glyphicon-remove button-checked btn-lg');
      } else {

        $(this).removeClass('.glyphicon glyphicon-remove button-checked btn-lg')
        .addClass('.glyphicon glyphicon-book button-checked btn-lg');
        
      };

    });

    $(this).parent().find('.image-book').fadeTo("fast", 1).queue();
    $(this).parent().find('.card-title').fadeTo("fast", 1).queue();

    $(this).parent().find('.card-text').show().queue();
    $(this).parent().find('.card-title').show().queue();

    $(this).parent().find('.btn-custom').hide().queue();
    $(this).parent().find('.button-like').hide().queue();
    $(this).parent().find('.ver_mais').hide().queue();
    $(this).parent().find('.button-checked').hide().queue();
    $(this).parent().find('.button-search').hide().queue();

    $(this).mouseout(function(){
      $('[data-toggle="popover"]')
      .popover("hide")
      .queue();
    })

  });

  $('#li-destaques').click(function(){
    window.location.href = "destaques";
      $('#li-geral').removeClass('select_item_topbar');
      $(this).addClass('select_item_topbar');
  });

  $('#li-geral').click(function(){
    window.location.href = "index";
      $('#li-destaques').removeClass('select_item_topbar');
      $(this).addClass('select_item_topbar');
  });

});