<%= render "devise/shared/error_messages", resource: resource %>

<div class="form_devise">

  <h2 class="title_devise">Forgot your password?</h2>

  <br>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :class => 'form_devise') do |f| %>

    <div class="field field_devise">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "              email" %>
    </div>

    <br>

    <div class="actions actions_devise">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

  <br>

  <%= render "devise/shared/links" %>

</div>