<div class="d-flex" id="wrapper">

  <div class="bg-light border-right" id="sidebar-wrapper">

    <div class="sidebar-heading">

      <p id="title-menu">L</p>

    </div>

    <div class="list-group list-group-flush" id="itensDiv">

      <a class="nav-link dropdown-toggle list-group-item-action bg-light" id="dropdown-menu" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
      
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

        <% Category.all.each do |categoria| %>

          <a class="dropdown-item" href="#"><%= link_to categoria.description, categoria %></a>
          
        <% end %>

      </div>

      <% if user_signed_in? %>
        <a href="#" class="list-group-item list-group-item-action bg-light itemMenu">Minha coleção</a>
        <strong><p class="home_email"><%= current_user.email %></p></strong>
        <%= link_to "", edit_user_registration_path, :class => 'glyphicon glyphicon-user btn-lg edit' %>
        <%= link_to "", destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-arrow-left btn-lg log_out' %>
      <% else %>
        <strong><%= link_to "Sign_up", new_user_registration_path, :class => 'sign_up'  %></strong>
        <strong><%= link_to "Login", new_user_session_path, :class => 'sign_in'  %></strong>
      <% end %>
      
  </div>

</div>