<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Biblioteca</title>

  </head>

  <body>

    <div>

      <header>

        <%= render  "menu_sidebar" %>

        <div id="page-content-wrapper">

          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li id="li-geral" class="x">Geral</li>
                <li id="li-destaques" class="select_item_topbar">Livros em destaque</li>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <span class="glyphicon glyphicon-search btn-lg" id="span-search" aria-hidden="true"></span>
              </form>

            </div>

          </nav>

          <div class="container-fluid">

            <div class="row">

              <% Book.all.each do |book| %>

                <% if book.destaque == 'true' %>

                  <%= book.destaque %>

                  <div class="card" style="width: 12em">

                    <div class="card-body">

                      <%= image_tag(book.image, :alt => "", :size => "150x220", :class => 'image-book') %>

                      <br>

                      <span class="glyphicon glyphicon-info-sign btn-custom btn-lg" aria-hidden="true" data-toggle="popover" title="<strong><%= book.title %></strong>" data-content="<strong><%= book.author %></strong><br><%= book.description %>"></span>

                      <div class="div-buttons">

                        <span class="glyphicon glyphicon-thumbs-up button-like btn-lg" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon glyphicon-book button-checked btn-lg" aria-hidden="true"></span>
                        <%= link_to book.title, book, :class => 'ver_mais'%>

                      </div>

                      <h2 class="card-title"><%= book.title %></h2>
                      <p class="card-text"><%= book.author %></p>

                    </div>

                  </div>

                <% end %>

              <% end %>
              
            </div>

          </div>

        </div>
      
      </header>

    </div>

  </body>

</html>