<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :selfLink %>
    <%= form.text_field :selfLink %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :imageLink %>
    <%= form.text_field :imageLink %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :publishedDate %>
    <%= form.date_select :publishedDate %>
  </div>

  <div class="field">
    <%= form.label :pageCount %>
    <%= form.number_field :pageCount %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= collection_select(:book, :category_id, Category.all, :id, :description) %>
  </div>

  <div class="field">
    <%= form.label :destaque %>
    <%= form.text_field :destaque %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
