<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Selflink</th>
      <th>Imagelink</th>
      <th>Language</th>
      <th>Publisher</th>
      <th>Publisheddate</th>
      <th>Pagecount</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.description %></td>
        <td><%= book.selfLink %></td>
        <td><%= image_tag book.image %><td>
        <td><%= book.imageLink %></td>
        <td><%= book.language %></td>
        <td><%= book.publisher %></td>
        <td><%= book.publishedDate %></td>
        <td><%= book.pageCount %></td>
        <td><%= book.category %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
