<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Biblioteca</title>

  </head>

  <body>

    <div>

      <header>

        <%= render  "/home/menu_sidebar" %>

        <div id="page-content-wrapper">

          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <a href="../index" id="li-geral">Geral</a>
                <a href="../destaques" id="li-destaques">Livros em destaque</a>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <span class="glyphicon glyphicon-search btn-lg" id="span-search" aria-hidden="true"></span>
              </form>

            </div>

          </nav>

          <div class="content_book">

            <a href="/" class="glyphicon glyphicon-remove btn-lg btn_exit"></a>

            <td><%= image_tag @book.image, :size => "180x280", :class => 'ver_mais_image_book' %><td>

            <p>
              <h1 class="ver_mais_title"><%= @book.title %></h1>
            </p>

            <p>
              <h4 class="ver_mais_author"><%= @book.author %></h4>
            </p>

            <div class="ver_mais_likes"><span class='glyphicon glyphicon-star-empty btn-star btn-lg'></span> <span class='glyphicon glyphicon-star-empty btn-star btn-lg'></span> <span class='glyphicon glyphicon-star-empty btn-star btn-lg'></span> <span class='glyphicon glyphicon-star-empty btn-star btn-lg'></span> <span class='glyphicon glyphicon-star-empty btn-star btn-lg'></span></div>

            <p class="ver_mais_description">
              <%= @book.description %>
            </p>

            <div class="content_dados">

              <p class="ver_mais_linguagem">
                <strong>Linguagem:</strong>
                <%= @book.language %>
              </p>

              <p class="ver_mais_editora">
                <strong>Editora:</strong>
                <%= @book.publisher %>
              </p>

              <p class="ver_mais_publicacao">
                <strong>Data de publicação:</strong>
                <%= @book.publishedDate %>
              </p>

            </div>

            <div class="content_dados">

              <p class="ver_mais_paginas">
                <strong>Número de páginas:</strong>
                <%= @book.pageCount %>
              </p>

              <p>
                <a href="<%= @book.selfLink %>">Conferir preços</a>
              </p>

              <p class="ver_mais_categoria">
                <strong>Categoria:</strong>
                <%= @book.category.description %>
              </p>

            </div>

          </div>

        </div>
      
      </header>

    </div>

  </body>

</html>