<div class="form_devise">

<h2 class="title_devise">Log in</h2>

<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => "form_devise") do |f| %>

  <div class="field field_devise">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "              email" %>
  </div>

  <br>

  <div class="field field_devise">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "           password" %>
  </div>

  <br>

  <% if devise_mapping.rememberable? %>
    <div class="field field_devise">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

<br>

  <div class="actions actions_devise">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>

</div>