/* CSS from class */

.form_devise {
  background-color: #00ffbb;
  width: 500px;
  display: block;
  border-radius: 12px;
  margin: auto;
}

.title_devise {
  text-align: center;
  margin-top: 5px;
  color: #fff;
}

.field_devise, .actions_devise, .links_devise {
  text-align: center;
  color: #fff;
}

.actions_devise_cancel_account {
  padding-bottom: 12px;
  text-align: center;
  color: #fff;
}

.links_devise {
  margin-bottom: 12px;
}

.exit_devise {
  cursor: pointer;
  position: absolute;
  float: right;
  color: #fff;
  margin-left: 32%;
}

/* CSS from id */

#error_explanation {
  color: #fff;
}
